.background{
    -fx-background-color: linear-gradient(rgb(124, 0, 113), rgba(0, 0, 0, 0.99));;
    -fx-font-family: "Futura";
    -fx-border-width: 3;
}

.Button:hover{
    -fx-border-width: 1;
    -fx-border-color: #1d1d1d;
}