.background{
    -fx-background-color: linear-gradient(rgb(124, 0, 113), rgba(0, 0, 0, 0.99));;
    -fx-font-family: "Futura";
    -fx-border-width: 3;
}

.GridPane{
    -fx-border-width: 3;
    -fx-border-color: #a60083;
}

.ImageView{
    -fx-border-width: 3;
    -fx-border-color: #a60083;
}

.TextField{
    -fx-font-family: "Futura";
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
}