.background{
    -fx-background-color: linear-gradient(rgb(124, 0, 113), rgba(0, 0, 0, 0.99));;
    -fx-font-family: "Futura";
    -fx-border-width: 3;
}

#puzzleButton:hover{
    -fx-border-width: 0;
    -fx-border-color: #1d1d1d;
}

#puzzleButton{
    -fx-border-width: 0;
    -fx-border-color: rgba(29, 29, 29, 0);
}

.GridPane{
    -fx-border-width: 3;
    -fx-border-color: #a60083;
}

.TextField{
    -fx-font-family: "Futura";
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
}