.background{
    -fx-background-color: linear-gradient(rgb(255, 157, 112), rgba(255, 111, 163, 0.99));;
    -fx-font-family: "Futura";
    -fx-border-width: 3;
}

.GridPane{
    -fx-border-width: 3;
    -fx-border-color: #ff4d8d;
}

.ImageView{
    -fx-border-width: 1;
    -fx-border-color: #ff4d8d;
}

.ImageView:hover{
    opacity: 0.75;
    -fx-border-radius: 5;
    -fx-border-color: #ff4d8d;
}

.ImageView:pressed{
    opacity: 0.5;
    -fx-border-radius: 5;
    -fx-border-color: #ff4d8d;
}

.TextField{
    -fx-font-family: "Futura";
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
}